<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yueyue.todolist">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--Android allowBackup属性 - 简书 https://www.jianshu.com/p/2cb6c55cab70-->
    <application
        android:name=".base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--使用 gradle 在编译时动态设置 Android resValue / BuildConfig / Manifes中<meta-data>变量的值
                     http://blog.csdn.net/xx326664162/article/details/49247815-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="efa1fcb2bbdcd3080aead59af1ddd8d6"/>
        <service android:name="com.amap.api.location.APSService"/>
        <!--
            Android全屏的两种方法 - 有棱角的圆 - 博客园
             https://www.cnblogs.com/sunjianfei/p/5855523.html
        -->
        <activity
            android:name=".modules.splash.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>


        <activity android:name=".modules.address.ui.AddressCheckActivity"/>
        <activity android:name=".modules.weather.ui.WeatherActivity"/>
        <activity android:name=".modules.about.ui.AboutActivity"/>
        <!--【Android开发经验】android:windowSoftInputMode属性详解 - CSDN博客
                  http://blog.csdn.net/zhaokaiqiang1992/article/details/39761461-->
        <activity
            android:name=".modules.edit.ui.EditNoteActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".modules.share.ShareActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.viewer.ViewerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.lock.SetLockActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.lock.UnlockActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.personal.PersonalActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".modules.setting.ui.SettingActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".modules.service.AutoUpdateService"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>